<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Account List</title>
</head>

<body>

<div class="container">

    <h3>Account List</h3>
    <div sec:authorize="isAuthenticated()">
        User: <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
        <span th:text="${#authentication.getPrincipal().authorities}"></span> |
        <a th:href="@{/showStaffPage}">Staff</a>
        <!-- Add a logout button -->
        <form action="#" th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout" class="btn btn-outline-primary btn-sm mt-1"/>
        </form>
    </div>
    <hr>

    <!--	 Add a button -->
    <a th:href="@{/accounts/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
        Create Account
    </a>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <!--            <th>Id</th>-->
            <th>Customer Id</th>
            <th class="text-center">IBAN</th>
            <th class="text-center">Currency</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="account : ${accounts}">
            <!--            <td th:text="${account.id}"/>-->
            <td th:text="${account.customer.getId()}"/>
            <td th:text="${account.iban}" class="text-center"/>
            <td th:text="${account.currency}" class="text-center"/>

            <td>
                <a th:href="@{/transactions/account/(id=${account.id})}"
                   class="btn btn-primary btn-sm">
                    Show transactions for IBAN
                </a>
            </td>

            <td>
                <!-- 					Add "delete" button/link					 -->
                <a th:href="@{/accounts/close(id=${account.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to close this account?'))) return false">
                   Close account
                </a>
            </td>
        </tr>

        </tbody>
    </table>

</div>

</body>
</html>



