<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Accounts by Customer ID</title>
</head>

<body>

<div class="container-fluid mt-3 mb-5">

    <h3>Accounts by Customer ID</h3>

    <div sec:authorize="isAuthenticated()">
        User: <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
        <span th:text="${#authentication.getPrincipal().authorities}"></span> |
        <a th:href="@{/showStaffPage}">Staff</a>
        <!-- Add a logout button -->
        <form action="#" th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout" class="btn btn-outline-primary btn-sm mt-1"/>
        </form>
    </div>

    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th rowspan=2 class="align-middle">Customer ID</th>
            <th rowspan=2 class="align-middle">IBAN</th>
            <th rowspan=2 class="align-middle">Currency</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="account : ${accounts}">

            <td th:text="${account.getCustomer().getId()}"/>
            <td th:text="${account.iban}"/>
            <td th:text="${account.currency}"/>
            <!--				<td th:text="${user.priority}" align="center" />	-->
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>



