<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Customer List</title>
</head>

<body>

<div class="container">

    <h3>Customer List</h3>
    <div sec:authorize="isAuthenticated()">
        User: <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
        <span th:text="${#authentication.getPrincipal().authorities}"></span> |
        <a th:href="@{/showMainPage}">Main</a>
        <!-- Add a logout button -->
        <form action="#" th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout" class="btn btn-outline-primary btn-sm mt-1"/>
        </form>
    </div>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>username</th>
            <th class="text-center">name</th>
            <th class="text-center">cnp</th>
            <th class="text-center">phone</th>
            <th class="text-center">mail</th>
            <th class="text-center">address</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}"/>
            <td th:text="${customer.username}"/>
            <td th:text="${customer.name}"/>
            <td th:text="${customer.cnp}"/>
            <td th:text="${customer.phone}"/>
            <td th:text="${customer.mail}"/>
            <td th:text="${customer.address}"/>

            <td>
                <a th:href="@{/accounts/customer/(id=${customer.id})}"
                   class="btn btn-primary btn-sm">
                    Show Accounts for a user
                </a>
            </td>

        </tr>

        </tbody>
    </table>

</div>

</body>
</html>



