<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Transactions by Account ID</title>
</head>

<body>

<div class="container-fluid mt-3 mb-5">

    <h3>Transactions by Account ID</h3>

    <div sec:authorize="isAuthenticated()">
        User: <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
        <span th:text="${#authentication.getPrincipal().authorities}"></span> |
        <a th:href="@{/showStaffPage}">Staff</a>
        <!-- Add a logout button -->
        <form action="#" th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout" class="btn btn-outline-primary btn-sm mt-1"/>
        </form>
    </div>

    <hr>

    <!--	 Add a button -->
    <a th:href="@{/transactions/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
        Create Transaction
    </a>

<!--    <input type="text" th:field="*{name}"-->
<!--           class="form-control mb-4 col-4" placeholder="Transactions after this DateTime">-->
<!--    <p>Start Date Field: <input type="datetime-local" th:field="*{datetimeField}" /></p>-->
<!--    <p>End Date Field: <input type="datetime-local" th:field="*{datetimeField}" /></p>-->

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th rowspan=2 class="align-middle">Account ID</th>
            <th rowspan=2 class="align-middle">DateTime</th>
            <th rowspan=2 class="align-middle">Details</th>
            <th rowspan=2 class="align-middle">Debit</th>
            <th rowspan=2 class="align-middle">Credit</th>
            <th rowspan=2 class="align-middle">Balance</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="transaction : ${transactions}">

            <td th:text="${transaction.accountId}"/>
            <td th:text="${transaction.dateTime}"/>
            <td th:text="${transaction.transactionDetails}"/>
            <td th:text="${transaction.debit}"/>
            <td th:text="${transaction.credit}"/>
            <td th:text="${transaction.balance}"/>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>



